.zone {
    cursor:pointer;
    display:inline-block;
    text-align: center;
    font-size:10em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.green{
    background: linear-gradient( #56B870 0%,#a5c956 100%);
}
.red{
    background: linear-gradient( #C655BE 0%,#cf0404 100%);
}
.yellow{
    background: linear-gradient( #F3AAAA 0%,#febf04 100%);
}
.blue{
    background: linear-gradient( #7abcff 0%,#606af8 44%,#4096ee 100%); 
}
.purple {
    background: linear-gradient( #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%);
}
.brown {
    background: linear-gradient( #f6e6b4 0%,#ed9017 100%); 
}
