.container {
  display: flex;
}

.post {
  max-width: 300px;
}

.post-big {
  max-width: 400px;
}

.post-big h1{
  font-size: 4em;
}

.post-middle h1{
  font-size: 3em;
}

.post-small h1{
  font-size: 2em;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black;
}